services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: mysql:5.7
    platform: linux/amd64
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword # Pour l'admin
      MYSQL_DATABASE: camagru
      MYSQL_USER: camagru_user      # Nom d'utilisateur pour ton site
      MYSQL_PASSWORD: user_password # Mot de passe pour ton site
    volumes:
      - db_data:/var/lib/mysql

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025" # Serveur SMTP
      - "8025:8025" # Interface Web pour voir les mails

volumes:
  db_data: